{
  "rules": {
      "import/prefer-default-export": 0,
      "vue/attribute-hyphenation": 0,
      "vue/multi-word-component-names": 0,
      "vue/max-attributes-per-line": 0
    },
  "env": {
      "node": true
  },
  "parserOptions":  { "ecmaVersion": 2020 },
  "extends": [
      "airbnb-base",
      "plugin:vue/vue3-recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.js", "**/*.vue"],
      "rules": {
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "vue/no-mutating-props": 0
      }
    }
  ]
}

